@charset "UTF-8";
@keyframes fromLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(3rem);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-3rem);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes buttonMove {
  0% {
    opacity: 0;
    transform: translateY(50rem);
  }
  100% {
    opacity: 1;
  }
}
.btn-anim {
  position: relative;
  margin-top: 5rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5rem;
  transition: all 1s;
  animation-fill-mode: backwards;
  color: rgba(59, 59, 59, 0.4666666667);
  text-decoration: none;
  animation-duration: 2s;
  animation-delay: 0.5s;
  backface-visibility: hidden;
  animation-name: buttonMove;
}

.btn:hover {
  box-shadow: 0.3rem 0.3rem 1rem rgb(97, 97, 97);
  transform: translateY(-0.5rem);
}

.btn:active {
  transform: translateY(0.5rem);
}

.header {
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/images/baloons-header.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}
.header img {
  position: absolute;
  margin: 5rem;
}
.header_main {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -55%);
  width: 100%;
  text-align: center;
}
.header_main h1 {
  animation-name: fromLeftToRight;
  letter-spacing: 1rem;
  font-size: 5rem;
  animation-duration: 2s;
  animation-delay: 0.5s;
  backface-visibility: hidden;
  animation-timing-function: ease;
}
.header_main p {
  animation-name: fromRightToLeft;
  display: block;
  font-weight: 200;
  animation-duration: 2s;
  animation-delay: 0.5s;
  backface-visibility: hidden;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  animation-timing-function: ease;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.margin-8rem {
  margin: 8rem 0;
}
.margin-8rem h2 {
  text-align: center;
  background: linear-gradient(to right, #C3956A 3.65%, #A14F03 100%);
  letter-spacing: 1rem;
  font-size: 3.6rem;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.7s;
}
.margin-8rem h2:hover {
  transform: skewY(3deg) skewX(3deg) scale(1.05);
  text-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
}

.col-1-of-2 {
  color: #777;
}
.col-1-of-2 h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.col-1-of-2 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
}
.col-1-of-2 .part1 {
  margin-bottom: 4rem;
}
.col-1-of-2 .part2 {
  margin-bottom: 5rem;
}
.col-1-of-2 a {
  text-decoration: none;
  color: #BA8554;
  font-weight: 700;
  padding: 1rem;
  transition: 0.7s;
  display: inline-block;
  border-bottom: 0.2rem #BA8554 solid;
}
.col-1-of-2 a:hover {
  background-color: #BA8554;
  color: white;
  transform: translateY(-0.5rem);
}
.col-1-of-2 a:active {
  transform: translateY(0.5rem);
}

.composition {
  position: relative;
}
.composition__img {
  width: 55%;
  box-shadow: 0.3rem 0.3rem 1rem rgb(97, 97, 97);
  border-radius: 1rem;
  position: absolute;
  transition: 0.7s;
}
.composition__img_n2 {
  top: 9rem;
  left: 22rem;
}
.composition__img_n3 {
  top: 16.4rem;
  left: 2.2rem;
}
.composition__img:hover {
  outline-offset: 1rem;
  outline: 0.7rem solid #BA8554;
  transform: scale(1.2);
  z-index: 1;
}

.section-adventure {
  text-align: center;
  color: #777;
  width: 100%;
  height: 90vh;
  background: url("/images/pexels-julia-volk-6118899 1.png") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 83%);
}
.section-adventure .adventure {
  margin: 0 11rem;
  padding-top: 21rem;
}
.section-adventure .col-1-of-4 {
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  border-radius: 0.5rem;
  transition: 0.7s;
}
.section-adventure .col-1-of-4:hover {
  transform: translateY(-2rem);
}
.section-adventure .col-1-of-4 h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.section-adventure .col-1-of-4 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
}
.section-adventure .col-1-of-4 img {
  margin-bottom: 2.5rem;
}

.card-tour {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  margin-bottom: 10rem;
}
.card-tour__side {
  position: absolute;
  transition: 0.8s ease-out;
  color: white;
  box-shadow: 0.3rem 0.3rem 1rem rgb(97, 97, 97);
  backface-visibility: hidden;
}
.card-tour__side_front img {
  width: 100%;
  border-radius: 0.3rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}
.card-tour__side_front h4 {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.4rem;
  letter-spacing: 0.2rem;
  text-align: center;
  background: linear-gradient(to right, #C3956A 3.65%, #A14F03 100%);
  letter-spacing: 1rem;
  font-size: 3.6rem;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2.5rem;
}
.card-tour__side_front li {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #777;
  text-decoration: underline;
  list-style: none;
  padding-bottom: 2rem;
}
.card-tour__side_back {
  background: linear-gradient(120deg, rgba(186, 133, 84, 0.7), rgba(161, 79, 3, 0.7));
  transform: rotateY(180deg);
  color: white;
  text-align: center;
}
.card-tour__side_back p {
  padding: 10rem 0 7rem;
}
.card-tour__side_back h3 {
  font-size: 6rem;
  padding-bottom: 8rem;
}
.card-tour__side_back a {
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  background-color: white;
  border: none;
  border-radius: 5rem;
  margin: 0 3rem 10rem;
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}

/*  <section class="section-tours">
 *        <div class="margin-8rem">
 *          <h2>НАИБОЛЕЕ ПОПУЛЯРНЫЕ ТУРЫ</h2>
 *        </div>
 *        <div class="row">
 *          <div class="col-1-of-3">
 *            <div class="card-tour">
 *              <div class="card-tour__side card-tour__side_front"> <img src="/images/first_card.png" alt="first_card">
 *              <h4>ГРУППОВЫЕ ТУРЫ</h4> 
 *              <ul>
 *                <li>Группы от 6 человек
 *             </li>
 *                <li> Продолжительность 2 час</li>
 *                <li>В группе 1 гид</li>
 *                <li>Дальность полета 6км</li>
 *                <li>Бесплатные сувениры</li>
 *              </ul>
 *              </div>
 *              <div class="card-tour__side card-tour__side_back">
 *               <div class="card-iner">
 *                 <p>ПОЛНАЯ СТОИМОСТЬ:</p>
 *                <h3>5990₽</h3>
 *                <a href="#">ЗАБРОНИРОВАТЬ</a>
 *               </div>
 *              </div>
 *            </div>
 *          </div>
 *        </div>
 *      </section>
 *          */
.section-feedback {
  color: #777;
}
.section-feedback h3 {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #BA8554;
  padding-bottom: 10rem;
}
.section-feedback__main {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 1rem rgb(97, 97, 97);
  margin: 0 auto;
  max-width: 80%;
  padding: 4rem 7rem;
  margin-bottom: 3.5rem;
  transform: skewX(-30deg);
}
.section-feedback__main > * {
  transform: skewX(30deg);
}
.section-feedback h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.section-feedback img {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 10rem;
  margin-right: 1rem;
}

figure {
  position: relative;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  font-size: 2.4rem;
  transform: translate(-50%, -50%);
  opacity: 0;
}

figure:hover .name {
  transition: 0.6s;
  opacity: 1;
}

figure:hover img {
  transition: 0.6s;
  filter: blur(0.3rem) brightness(70%);
}

.bron {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.wrapper {
  padding: 5rem;
}

@media (width < 550px) {
  html {
    font-size: 40%;
  }
  .wrapper {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */