*
  margin:0
  padding: 0
  box-sizing: border-box
body
  font-weight: 400
  letter-spacing: .2rem
  font-size: 1.6rem
html
  font-size: 62.5%
.wrapper
  padding: 5rem 

.header
  color: white
  position: relative
  width:100%
  height:100vh
  background: url("/images/baloons-header.jpg") center/cover no-repeat
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%)
  img
    position: absolute
    margin: 5rem
  &_main
    position: absolute
    left:50%
    top:45%
    transform: translate(-50%,-55%)
    width:100%
    text-align: center
    h1
      animation-name: fromLeftToRight
      animation-duration: 2s
      animation-delay: 0.5s
      letter-spacing: 1rem
      font-size: 5rem
      animation-timing-function: ease
      backface-visibility: hidden
    p
      backface-visibility: hidden
      animation-name: fromRightToLeft
      animation-duration: 2s
      animation-delay: 0.5s
      display: block
      font-weight: 400
      font-size: 4rem
      letter-spacing: .5rem
      animation-timing-function: ease
    .btn-anim
      position: relative
      margin-top: 5rem 
      padding: 1.5rem 4rem
      display: inline-block
      background-color: white
      border: none
      cursor: pointer
      font-size: 2rem
      border-radius: 5rem
      transition: all 1s
      animation-fill-mode: backwards
      color: #50505077
      text-decoration: none
      backface-visibility: hidden
      animation-name: buttonMove
      animation-duration: 2s
      animation-delay: 0.5s
.btn:hover
      box-shadow: .3rem .3rem 1.5rem rgb(97, 97, 97)
      transform: translateY(-.5rem)

      
.btn:active
      transform: translateY(+.5rem)
    
    

@keyframes fromLeftToRight
  0% 
    opacity: 0
    transform: translateX(-10rem)
  80%
    transform: translateX(+1rem)    
    opacity: 1
  100%
    transform: translateX(-1rem)    
    opacity: 1
    
@keyframes fromRightToLeft
  0% 
    opacity: 0
    transform: translateX(+10rem)
  80%
    transform: translateX(-1rem)    
    opacity: 1
  100%
    transform: translateX(+1rem)    
    opacity: 1
@keyframes buttonMove
  0% 
    opacity: 0
    transform: translateY(+50rem)
  100%
    opacity: 1
    
    