* 
  font-family: "Roboto", sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box

.wrapper 
  padding: 50px
  color: #f7f7f7

.header 
 
  background: liner-gradient() url("/images/baloons-header.jpg") center/cover no-repeat 
  /* background: linear-gradient(to right, #ba8554, black);*/
  height: 100vh
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%)
.main__svg 
    margin-top: 30px

  

.main 
     display: flex
     flex-direction: column
     text-align: center
    letter-spacing: 5
    margin-top: 150px

    h1 
    font-size: 65px

    p 
    font-weight: 300
    font-size: 40px
  

    button 
        margin-top: 50px
        padding: 15px 40px
        background-color: white
        border: none
        cursor: pointer
        font-size: 20px
        border-radius: 25px
        color: #7777

