.section-feedback

    color: #777
    
        

       
    &__main
        background-color: #ba855418
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        box-shadow: $shadow
        border: .3rem solid $brown-light 
        margin: 5rem  auto
        max-width: 80%
        padding: 4rem 7rem
        
 
        transform: skewX(-30deg)
        & > * 
            transform: skewX(30deg)
     
    
    h4 
        display: inline
        font-size: 2rem
        margin-bottom: 1rem

    img
        
        max-width: 15rem
        max-height: 15rem
        border-radius: 10rem
        margin-right: 1rem
        

     
  
        
figure
    position: relative
    
    
    
        
.name
    position: absolute
    top: 50%
    left: 50%
    color: white
    text-align: center
    font-size: 2.4rem
    transform: translate(-50%,-50%)
    opacity: 0
    
figure:hover .name
    transition: .3s
    opacity:  1    
figure:hover img
    transition: .3s
    filter: blur(.3rem) brightness(70%)


        
.bron
    text-align: center

@media (max-width: 750px)
    .section-adventure
        padding: 15rem 1rem !important
        clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%) !important
  
    .section-feedback__main
        flex-direction: column
        padding: 2rem
        transform: skewX(-10deg)
        & > * 
            transform: skewX(10deg)
@media (max-width: 500px)
    .section-feedback__main
        
        transform: skewX(0deg)
        & > * 
            transform: skewX(0deg)