.section-feedback
    
    h3
        text-align: center
        font-size: 3.6rem
        letter-spacing: .2rem
        color: $brown-light
        font-weight: 700
        color: $brown-light
        padding-bottom: 10rem
    &__main
        
        box-shadow: $shadow
        margin: 0 auto
        max-width: 80%
       
        color: #777
        margin-bottom: 3.5rem
        transform: skewX(-30deg)
        & > * 
            transform: skewX(30deg)
       
        &_first
            padding: 4rem
        
    
    h4 
        
        font-size: 2rem
        margin-bottom: 1rem
    li
        display: inline-block
        list-style: none
    img
        max-width: 15rem
        max-height: 15rem
        border-radius: 10rem
        float: left
        shape-outside: circle(50% at 50% 50%)
        -webkit-shape-outside: circle(50% at 50% 50%)
        margin-right: 4rem
    

     