footer
    background-color: #333333
    height: 50%
    width: 100%
    .foot
        padding: 3rem 0
    .logoo
        display: block
        margin: 0 auto
        
        
        
    ul
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr))
        grid-gap: 3rem
        list-style: none
        padding: 3rem 1rem 
    li 
        
        text-align: center
        cursor: pointer 
        transition: 0.3s
        
    a
        text-decoration: none
        color: white
    a:hover
            color: $brown-light
    li:hover 
        transform: skewY(3deg) skewX(3deg) scale(1.05)
        text-shadow: 0rem 0.4rem 0.8rem rgba(black , 30%)       
.section-footer
        
