.section-about
    margin: 8rem 0
    h2
        text-align: center
        background: linear-gradient(to right, #C3956A 3.65% ,#A14F03 100% )
        letter-spacing: 1rem
        font-size: 3.6rem
        -webkit-background-clip: text
        color: transparent