.btn
      position: relative
      margin-top: 5rem 
      padding: 1.5rem 4rem
      display: inline-block
      background-color: white
      border: none
      cursor: pointer
      font-size: 2rem
      border-radius: 5rem
      transition: all 1s
      animation-fill-mode: backwards
      color: #A14F03
      text-decoration: none
.btn-anim
     
      @include anim-style
      animation-name: buttonMove
      
.btn:hover
      box-shadow: $shadow
      transform: translateY(-.5rem)

      
.btn:active
      transform: translateY(+.5rem)
    